* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
header {
    background-repeat: repeat-x;
}
#header-img img {
    max-width: 100%;
    height: auto;

}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#topbutton  {
    width: 80px;

}
