/* 全体CSS */
* {
    margin: 0;
    padding: 0;
}

/* モバイル関連 */
@media (max-width: 480px) {
    .pagetop #topbutton {
        width: 18vw;
    }
}

/* タブレット関連 */
/* @media (min-width: 744px) and (max-width: 1024px) {

} */

html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#topbutton  {
    width: 80px;

}


header {
    background-repeat: repeat-x;
}
#header-img img {
    max-width: 100%;
    height: auto;

}
#sweetsstyle {
    font-size: 4vw;
    text-align: center;
}

#drinkstyle {
    font-size: 4vw;
    text-align: center;    
}
